<div class="qodef-contact-form-7">
    <div role="form" class="wpcf7" id="wpcf7-f3084-p3062-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
        </div>
        {{#form 'contact' 'class="wpcf7-form init demo"'}}
        <div class="qodef-vertical-form">
            <span class="wpcf7-form-control-wrap" data-name="name">
                <input type="text" name="name" size="40"
                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                    aria-invalid="false" placeholder="Your name" />
            </span>
            <div class="error {{#ifCond errors.name '===' undefined}} d-none {{/ifCond}}">
                <p class="error-message">{{errors.name}}</p>
            </div>
            <div class="qodef-email-with-check">
                <span class="wpcf7-form-control-wrap" data-name="email">
                    <input type="email" name="email" value size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                        aria-required="true" aria-invalid="false" placeholder="Your e-mail" />
                </span>
            </div>
            <div class="error {{#ifCond errors.email '===' undefined}} d-none {{/ifCond}}">
                <p class="error-message">{{errors.email}}</p>
            </div>
            <span class="wpcf7-form-control-wrap" data-name="message">
                <textarea name="message" cols="40" rows="7" class="wpcf7-form-control wpcf7-textarea"
                    aria-invalid="false" placeholder="Message"></textarea>
            </span>
            <div class="error {{#ifCond errors.message '===' undefined}} d-none {{/ifCond}}">
                <p class="error-message">{{errors.message}}</p>
            </div>
            <button type="submit"
                class="wpcf7-form-control wpcf7-submit qodef-button qodef-size--normal qodef-layout--filled qodef-m">
                {{{component "loader"}}}
                <span class="qodef-m-text button_text">Send now</span>
            </button>
        </div>
        <div class="wpcf7-response-output {{#ifCond error '!==' undefined}} d-block {{/ifCond}}" aria-hidden="true">
            <div class="error">
                <p class="error-message">{{error}}</p>
            </div>
        </div>
        {{/form}}
    </div>
</div>