<section
    class="elementor-section elementor-top-section elementor-element elementor-element-3abb3ef qodef-elementor-content-grid elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="3abb3ef" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-defcbd8"
            data-id="defcbd8" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-83eeb00 elementor-widget elementor-widget-esmee_core_section_title"
                    data-id="83eeb00" data-element_type="widget" data-widget_type="esmee_core_section_title.default">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--center ">
                            <h6 class="qodef-m-subtitle" style="margin-bottom: -5px">{{ section.settings.subtitle }}
                            </h6>
                            <h1 class="qodef-m-title">{{ section.settings.title }} </h1>
                            <p class="qodef-m-text"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-d1f2fcb qodef-elementor-content-grid elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="d1f2fcb" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3b4db57"
            data-id="3b4db57" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-4e03fd4 elementor-widget elementor-widget-esmee_core_product_list"
                    data-id="4e03fd4" data-element_type="widget" data-widget_type="esmee_core_product_list.default">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m  qodef-woo-shortcode qodef-woo-product-list qodef-item-layout--info-below qodef-appear-animation--no qodef-grid qodef-layout--columns  qodef-gutter--normal qodef-col-num--3   qodef-item-layout--info-below qodef--no-bottom-space qodef-pagination--off qodef-responsive--custom qodef-col-num--1440--3 qodef-col-num--1366--3 qodef-col-num--1024--3 qodef-col-num--768--1 qodef-col-num--680--1 qodef-col-num--480--1"
                            data-options="{&quot;plugin&quot;:&quot;esmee_core&quot;,&quot;module&quot;:&quot;plugins\/taojaa\/shortcodes&quot;,&quot;shortcode&quot;:&quot;product-list&quot;,&quot;post_type&quot;:&quot;product&quot;,&quot;next_page&quot;:&quot;2&quot;,&quot;max_pages_num&quot;:1,&quot;behavior&quot;:&quot;columns&quot;,&quot;images_proportion&quot;:&quot;full&quot;,&quot;columns&quot;:&quot;3&quot;,&quot;columns_responsive&quot;:&quot;custom&quot;,&quot;columns_1440&quot;:&quot;3&quot;,&quot;columns_1366&quot;:&quot;3&quot;,&quot;columns_1024&quot;:&quot;3&quot;,&quot;columns_768&quot;:&quot;1&quot;,&quot;columns_680&quot;:&quot;1&quot;,&quot;columns_480&quot;:&quot;1&quot;,&quot;space&quot;:&quot;normal&quot;,&quot;posts_per_page&quot;:&quot;9&quot;,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;ASC&quot;,&quot;additional_params&quot;:&quot;tax&quot;,&quot;tax&quot;:&quot;product_tag&quot;,&quot;tax_slug&quot;:&quot;variable&quot;,&quot;appear_animation&quot;:&quot;no&quot;,&quot;parallax_animation&quot;:&quot;no&quot;,&quot;layout&quot;:&quot;info-below&quot;,&quot;title_tag&quot;:&quot;h4&quot;,&quot;pagination_type&quot;:&quot;no-pagination&quot;,&quot;object_class_name&quot;:&quot;EsmeeCore_Product_List_Shortcode&quot;,&quot;taxonomy_filter&quot;:&quot;product_tag&quot;,&quot;additional_query_args&quot;:{&quot;tax_query&quot;:[{&quot;taxonomy&quot;:&quot;product_tag&quot;,&quot;field&quot;:&quot;slug&quot;,&quot;terms&quot;:&quot;variable&quot;}]},&quot;space_value&quot;:15}">
                            <ul class="qodef-grid-inner clear">
                                {{#iterate featured_products 3}}
                                <li
                                    class="qodef-e qodef-grid-item qodef-item--full product type-product post-2409 status-publish first instock product_cat-summer product_tag-variable has-post-thumbnail shipping-taxable purchasable product-type-variable has-default-attributes">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-woo-product-image">
                                            {{#ifCond current.discount '>' 0}}<span
                                                class="qodef-woo-product-mark qodef-new">Sale</span> {{/ifCond}}
                                            <img loading="lazy" decoding="async" width="800" height="1040"
                                                src="{{ current.image.main }}"
                                                class="attachment-full size-full wp-post-image" alt="{{current.name}}"
                                                sizes="(max-width: 800px) 100vw, 800px" />
                                            <div class="qodef-woo-product-image-inner">
                                                {{#if current.has_variations}}
                                                <a href="/product/{{ current.slug }}"
                                                    class="button product_type_variable add_to_cart_button"
                                                    aria-label="Select options for {{current.name}}" rel="nofollow">
                                                    Select options
                                                </a>
                                                {{else}}
                                                {{{form "add-to-cart" current}}}
                                                <button class="button product_type_variable add_to_cart_button"
                                                    aria-label="Add {{current.name}} to cart" rel="nofollow">Add to cart
                                                </button>
                                                {{{endform}}}
                                                {{/if}}

                                                <div class="qodef-additional-content">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2409  wishlist-fragment on-first-load"
                                                        data-fragment-ref="2409"
                                                        data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:2409,&quot;parent_product_id&quot;:2409,&quot;product_type&quot;:&quot;variable&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                        <div class="yith-wcwl-add-button">
                                                            <a href="{{ current.id }}"
                                                                class="add_to_wishlist single_add_to_wishlist"
                                                                data-product-type="variable"
                                                                data-title="Add to wishlist" rel="nofollow">
                                                                <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                                <span>Add to wishlist</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                                </div>
                                            </div>
                                            <a href="/product/{{current.slug}}"
                                                class="taojaa-LoopProduct-link taojaa-loop-product__link"></a>
                                        </div>
                                        <div class="qodef-woo-product-content">
                                            <div class="qodef-woo-product-content-top">
                                                <h4 itemprop="name" class="qodef-woo-product-title entry-title">
                                                    <a itemprop="url" class="qodef-woo-product-title-link"
                                                        href="/product/{{current.slug}}">{{current.name}} </a>
                                                </h4>
                                                <div class="qodef-woo-product-categories qodef-e-info"><a
                                                        href="/category/{{current.collection.slug}}"
                                                        rel="tag">{{current.collection.name}}</a>
                                                </div>
                                                <div class="qodef-info-separator-end"></div>
                                            </div>
                                            <div class="qodef-woo-product-price price">
                                                <span class="taojaa-Price-amount amount">
                                                    <span class="taojaa-Price-currencySymbol">{{{product_price current}}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {{/iterate }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>