{{{styles}}}
.d-none {
display: none;
}
.d-block {
display: block;
}
{{{endstyles}}}

<div class="header-group">
    {{{render "main-header"}}}
    {{{render "main-mobile-header"}}}
</div>

{{{render "sidebar-area"}}}